.title {
    color: var(--default-color);
    font-family: var(--title-font);
    font-size: 36px;
    margin: 30px 0;
    text-transform: uppercase;
}

.paragraph {
    color: var(--paragraph-color);
    font-family: var(--default-font);
    line-height: 1.6em;
    margin-bottom: 70px;
}

@media (max-width: 960px) {
    .paragraph {
        margin-bottom: 20px;
    }
}