@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

:root {   
    --default-color: #f2f2f2;
    --first-btn-text-color: #e38826;
    --first-card-color: #e38826;
    --last-btn-text-color: #004241;
    --last-card-color: #004241;
    --middle-btn-text-color: #006970;
    --middle-card-color: #006970;
    --paragraph-color: #ffffffbf;

    --default-font: 'Lexend Deca', sans-serif;
    --title-font: 'Big Shoulders Display', sans-serif;
}

html {
    align-items: center;
    display: flex;
    min-height: 100%;
    justify-content: center;
}

#root {
    display: flex;
    margin: 20px 0;
}

@media (max-width: 960px) {
    #root {
        flex-direction: column;
    }
}